/* _base.scss */
@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-main;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.7;
  color: $color-text;
  background-color: $color-bg;
}

// Global defaults
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}

section {
  padding: 100px 5%;
  max-width: 1200px;
  margin: 0 auto;
}
